<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summer Shop</title>
    <link rel="stylesheet" href="signin.css">
</head>
<body>

    <div class="container">
        <li class="logo"><a href="/"><span>SU</span>MMER</a></li>
        <form method="POST" action="/signin">
            
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="email" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="password" required> 
            
            <input class="submit-button" type="submit" value="SIGNIN">

            <a class="create-acc" href="/signup">Don't have an account, Create One</a>
        </form>

        
    </div>
    
</body>
</html>