<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summer Shop</title>
    <link rel="stylesheet" href="shop.css">
    
</head>
<body>
    <div class="container">
        <ul class="navigation">
            <li class="logo"><a href="/"><span>SU</span>MMER</a></li>
            
            
            
            
            
            
        
            <div class="search">
                <input  type="text" name="searchproduct" class="searchTerm" placeholder="مرحبا">
                <button id="searchBtn" type="submit" class="searchButton"></button>
             </div>
        
        
         <div class="signin-container">
            <li class="signin"><a href="/signin">Signin</a></li>
            <li class="signup"><a href="/signup">SignUp</a></li>
         </div>
         
        
         

        </ul>



        
    </div>
    <h1 class="hero">FEATURED PRODUCTS</h1>
    <section class="product-hero">
        
        <a href="#">
            <div class="product-card">
                <img src="img/product-img.png" alt="">
    
                <div class="description">
                    <h1 class="title">Dimaond</h1>
                    <h1 class="price">600DZD</h1>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="product-card">
                <img src="img/hai.jpg" alt="">
    
                <div class="description">
                    <h1 class="title">نقش</h1>
                    <h1 class="price">باطل</h1>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="product-card">
                <img src="img/hmed.jpg" alt="">
    
                <div class="description">
                    <h1 class="title">فاطر رمضان</h1>
                    <h1 class="price">20 دينار</h1>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="product-card">
                <img src="img/product-img.png" alt="">
    
                <div class="description">
                    <h1 class="title">Dimaond</h1>
                    <h1 class="price">500DZD</h1>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="product-card">
                <img src="img/product-img.png" alt="">
    
                <div class="description">
                    <h1 class="title">Dimaond</h1>
                    <h1 class="price">500DZD</h1>
                </div>
            </div>
        </a>
        




    </section>
    

    
   


</body>

