<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summer Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="shop.css">

   
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap');
        .lang-select{
            font-family: 'Almarai';font-weight: 700;
            width: 5%;
            text-align: center;
            cursor: pointer;

         }
         .lang-select a{
                text-decoration: none;
                font-size: 25px;
                color: white;
                
                
        }

        

    </style>
    







    <div class="container">
        <ul class="navigation">
            <li class="logo"><a href="/"><span>SU</span>MMER</a></li>
            
            
            
            
            
            
        
            <div class="search">
                <input  type="text" name="searchproduct" class="searchTerm" placeholder="مرحبا">
                <button id="searchBtn" type="submit" class="searchButton"><i class="fa fa-search"></i></button>
             </div>
        
             <li class="lang-select"><a href="/ar">ع</a></li>
         <div class="signin-container">
            <li class="signin"><a href="/signin">SignIn</a></li>
            <li class="signup"><a href="/signup">SignUp</a></li>
         </div>
         
        
         

        </ul>



        
    </div>
    <h1 class="hero">FEATURED PRODUCTS</h1>
    <section class="product-hero">
        
        <a href="#">
            <div class="product-card">
                <img src="img/product-img.png" alt="">
    
                <div class="description">
                    <h1 class="title">Dimaond</h1>
                    <h1 class="price">600DZD</h1>
                </div>
            </div>
        </a>
        
        <a href="#">
            <div class="product-card">
                <img src="img/product-img.png" alt="">
    
                <div class="description">
                    <h1 class="title">Dimaond</h1>
                    <h1 class="price">500DZD</h1>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="product-card">
                <img src="img/product-img.png" alt="">
    
                <div class="description">
                    <h1 class="title">Dimaond</h1>
                    <h1 class="price">500DZD</h1>
                </div>
            </div>
        </a>
        




    </section>
    

    
   


</body>

