<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summer Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../shop.css">
    
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap');
        body{font-family: 'Almarai';font-weight: 700;direction: rtl;}
        .container .navigation .logo{font-weight: 900; margin: 0;}
        .searchTerm{
          border-top-right-radius: 5em;
          border-top-left-radius: 0;
          border-bottom-right-radius: 5em;
          border-bottom-left-radius: 0;
        }
        .searchButton{
            border-top-right-radius: 0;
            border-top-left-radius: 5em;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 5em;
        }
        
    </style>

    <div class="container">
        <ul class="navigation">
            <li class="logo"><a href="/ar"><span>س</span>مر</a></li>
            
            
            
            
            
            
        
            <div class="search">
                <input  type="text" name="searchproduct" class="searchTerm" placeholder="مرحبا">
                <button id="searchBtn" type="submit" class="searchButton"><i class="fa fa-search"></i></button>
             </div>
        
        
         <div class="signin-container">
            <li class="signin"><a href="/ar/signin">تسجيل الدخول</a></li>
            <li class="signup"><a href="/ar/signup">تسجيل</a></li>
         </div>
         
        
         

        </ul>



        
    </div>
    <h1 class="hero">المنتوجات الاكثر مبيعا</h1>
    <section class="product-hero">
        
        <a href="#">
            <div class="product-card">
                <img src="img/product-img.png" alt="">
    
                <div class="description">
                    <h1 class="title">Dimaond</h1>
                    <h1 class="price">600DZD</h1>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="product-card">
                <img src="img/hai.jpg" alt="">
    
                <div class="description">
                    <h1 class="title">نقش</h1>
                    <h1 class="price">باطل</h1>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="product-card">
                <img src="img/hmed.jpg" alt="">
    
                <div class="description">
                    <h1 class="title">فاطر رمضان</h1>
                    <h1 class="price">20 دينار</h1>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="product-card">
                <img src="img/product-img.png" alt="">
    
                <div class="description">
                    <h1 class="title">Dimaond</h1>
                    <h1 class="price">500DZD</h1>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="product-card">
                <img src="img/product-img.png" alt="">
    
                <div class="description">
                    <h1 class="title">Dimaond</h1>
                    <h1 class="price">500DZD</h1>
                </div>
            </div>
        </a>
        




    </section>

    <section class="product-hero">
        
        <a href="#">
            <div class="product-card">
                <img src="img/product-img.png" alt="">
    
                <div class="description">
                    <h1 class="title">Dimaond</h1>
                    <h1 class="price">600DZD</h1>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="product-card">
                <img src="img/hai.jpg" alt="">
    
                <div class="description">
                    <h1 class="title">نقش</h1>
                    <h1 class="price">باطل</h1>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="product-card">
                <img src="img/hmed.jpg" alt="">
    
                <div class="description">
                    <h1 class="title">فاطر رمضان</h1>
                    <h1 class="price">20 دينار</h1>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="product-card">
                <img src="img/product-img.png" alt="">
    
                <div class="description">
                    <h1 class="title">Dimaond</h1>
                    <h1 class="price">500DZD</h1>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="product-card">
                <img src="img/product-img.png" alt="">
    
                <div class="description">
                    <h1 class="title">Dimaond</h1>
                    <h1 class="price">500DZD</h1>
                </div>
            </div>
        </a>
        




    </section>


    <section class="product-hero">
        
        <a href="#">
            <div class="product-card">
                <img src="img/product-img.png" alt="">
    
                <div class="description">
                    <h1 class="title">Dimaond</h1>
                    <h1 class="price">600DZD</h1>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="product-card">
                <img src="img/hai.jpg" alt="">
    
                <div class="description">
                    <h1 class="title">نقش</h1>
                    <h1 class="price">باطل</h1>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="product-card">
                <img src="img/hmed.jpg" alt="">
    
                <div class="description">
                    <h1 class="title">فاطر رمضان</h1>
                    <h1 class="price">20 دينار</h1>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="product-card">
                <img src="img/product-img.png" alt="">
    
                <div class="description">
                    <h1 class="title">Dimaond</h1>
                    <h1 class="price">500DZD</h1>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="product-card">
                <img src="img/product-img.png" alt="">
    
                <div class="description">
                    <h1 class="title">Dimaond</h1>
                    <h1 class="price">500DZD</h1>
                </div>
            </div>
        </a>
        




    </section>
    

    
   


</body>

